:root {
  --spinner-size: 4rem;
}

.spinner-border {
  width: var(--spinner-size);
  height: var(--spinner-size);
}

.h-100 {
  height: 100vh!important;
}

.larger-text {
  font-size: var(--mdb-sidenav-link-font-size);
}

.container {
  margin-top: 5.625rem;
}